[Package]
version: 1
depends: 
incremental: False

[Product]
type: localboot
id: dfn_libreoffice-still
name: LibreOffice Still
description: Office-Umgebung mit den Hauptkomponenten 'Writer' (Textverarbeitung), 'Calc' (Tabellenkalkulation), 'Impress' (Präsentation), 'Draw' (Vektorzeichnungen) und 'Base' (Datenbank); international standardisiertes Dateiformat 'OpenDocument Format' (ODF); Import- und Exportfilter für Microsoft Office
advice: 
version: 5.1.5
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup.opsiscript
uninstallScript: uninstall.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductDependency]
action: setup
requiredProduct: dfn_jre
requiredStatus: installed
requirementType: before

[ProductProperty]
type: unicode
name: register-mso
multivalue: False
editable: False
description: Dateizuordnungen für Microsoft Office Dokumente (z.B. .doc) auf LibreOffice einstellen?
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after
 installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after
 deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: desktopicon
multivalue: False
editable: False
description: Create icon on desktop
values: ["no", "yes"]
default: ["no"]

[ProductProperty]
type: unicode
name: msi-silent-option
multivalue: False
editable: False
description: Un/Install MSI silent (/qb!) or very silent (/qn)
values: ["/qb!", "/qn"]
default: ["/qb!"]

[ProductProperty]
type: unicode
name: ui-langs
multivalue: False
editable: True
description: Define which UI languages should be activated on installation. Add other country abbreviations, separated with comma (https://wiki.documentfoundation.org/Deployment_and_Migration)
values: ["de,en_GB"]
default: ["de,en_GB"]

[ProductProperty]
type: unicode
name: custom-extensions
multivalue: False
editable: False
description: Install Custom Extensions (*.oxt files) from /var/lib/opsi/depot/dfn_libreoffice-still/custom/extensions?
values: ["no", "yes"]
default: ["no"]

[Changelog]
dfn_libreoffice-still (5.1.5-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 03.08.2016

dfn_libreoffice-still (5.0.6-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 09.05.2016

dfn_libreoffice-still (5.0.5-2)
	* Möglichkeit zur Installation von Extensions hinzugefügt (Produktproperty; über Ordner 'extensions' in 'custom')
	* delsub umgebaut und aufgeräumt, Unterscheidung ResultList32 und 64 wegen InstallDir aus Registry
	* Produktabhängigkeit 'dfn_jre' hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 03.03.2016

dfn_libreoffice-still (5.0.5-1)
	* neue Upstreamversion
	* Wechsel von 32- auf 64-Bit-Version (Deinstallation auch von 32-Bit, Installation nur 64-Bit)
	* Produktproperty 'ui-langs' hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 17.02.2016

dfn_libreoffice-still (4.4.7-2)
	* neue Upstreamversion
	* ProductProperty 'msi_silent_option' hinzugefügt
	* Check Windowsversion hinzugefügt
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 16.12.2015

dfn_libreoffice-still (4.4.6-1)
	* neue Upstreamversion
	* Umbennenung Paket 'dfn_libreoffice' -> 'dfn_libreoffice-still'
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 05.11.2015

dfn_libreoffice (4.4.5-1)
	* initiales DFN-Paket
-- Lukas Stapelbroek (archIT/KIT) <lukas.stapelbroek9@kit.edu>, 29.09.2015




